.faq{
    background: #F6F6F6;
    padding: 1em;
    border-radius: 1em;
}
.faq dt{
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.faq dd::before {
    content: "A";
    font-weight: normal;
    background: #cc0000;
    color: #fff;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.6;
    text-align: center;
    display: inline-block;
    border-radius: 1em;
    margin-right: .5em;
}
.faq dt:before{
    content: "Q";
    font-weight: normal;
    background: #cc0000;
    color: #fff;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.6;
    text-align: center;
    display: inline-block;
    border-radius: 1em;
    margin-right: .5em;
}
.faq dd{
    margin-bottom: 2em;
    margin-left: 20px;
}
.faq dd:last-child{
    margin-bottom: 0;
}

#toggle1{
    display: none;
}
.toggle-inner{
    display: none;
}
#toggle1:checked ~ .toggle-inner{
    display: block;
}
