@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

$question-bgcolor:   #49bf9d;
$question-incolor:      #fff;

.faq{
    padding: 1em;
    border-radius: 1em;
}

.faq dt{
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.faq dt:before{
    content: "Q";
    font-weight: normal;
    background: $question-bgcolor;
    color: $question-incolor;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.6;
    text-align: center;
    display: inline-block;
    border-radius: 1em;
    margin-right: .5em;
}

.faq dd::before {
    content: "A";
    font-weight: normal;
    background: $question-bgcolor;
    color: $question-incolor;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.6;
    text-align: center;
    display: block;
    position: absolute;
    border-radius: 50%;
    margin-right: .5em;
}

.faq dd{
    margin-bottom: 50px;
    position: relative;
    margin-left: 20px;
    padding-left: 36px;
}

.faq dd:last-of-type{
    margin-bottom: 10px;
}

.details{
    margin-left: 20px;
    padding-left: 36px;
}

.toggle-dl{
    padding-top: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.toggle-dl dt{
    width: 80px;
    float: left;
    text-align: right;
    padding-right: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.toggle-dl dt::before{
    content: none;
}

.toggle-dl dd{
    margin-left: 0;
    margin-bottom: 20px;
    padding-left: 100px;
}

.toggle-dl dd::before{
    content: none;
}